*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    background-color: hsl(236, 33%, 92%);
    margin: 0;
    padding: 0;
}

.body {
    position: relative;
    text-align: center;

}

.header-container {
    margin-top: -3vh;
    margin: 0 auto;
}

#header-background {
    background: url("images/bg-desktop-light.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top;
    height: 40vh; 
}

#title {
    color: hsl(0, 0%, 98%);
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5em; 
    font-weight: 700;
    letter-spacing: 15px;
    margin-top: 10vh;
}

.moon-icon {
    margin-left: 25vw;
    height: 30px;
}

.main-content {
    margin-top: -20vh;
    position: relative;
}
.task-input {
    background-color: hsl(0, 0%, 98%);
    border: none;
    border-radius: 10px;
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.125em; 
    height: 8vh;
    outline: none;
    padding: 1.2rem;
    min-width: 40vw;
}

.task-container {
    background-color: hsl(0, 0%, 98%);
    border-radius: 10px;
    -webkit-box-shadow: -4px 14px 38px -10px rgba(200, 200, 200, 1);
    -moz-box-shadow: -4px 14px 38px -10px rgba(200, 200, 200, 1);
    box-shadow: -4px 14px 38px -10px rgba(200, 200, 200, 1);
    color: hsl(235, 19%, 35%);
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.125em; 
    margin-top: 3vh;
    min-width: 40vw;
    inline-size: 40vw;
    word-break: break-all;
    text-align: left;
    padding: 0 0.6rem 0.6rem 0;
}

.task-element {
    padding: 0;
}

.todo {
    border-bottom: 1px solid hsl(236, 33%, 92%);
    position: relative;
}

.todo-item {
    display: inline-block;
    list-style-type: none;
    padding: 1.5rem 3rem;
    margin-left: 2rem;
    transition: 1s all;
}

.finished .todo-item {
    opacity: 0.4;
    text-decoration: line-through;
}

.checkmark::before {
    background-color: white;
    border: 1px solid hsl(236, 33%, 92%);
    border-radius: 50%;
    content: '';
    cursor: pointer;
    position: absolute;
    height: 30px;
    width: 30px;
    top: 1rem;
    left: 1rem;
}

.checked {
    background: rgb(71,218,255);
    background: linear-gradient(166deg, rgba(71,218,255,1) 0%, rgba(233,189,255,1) 100%);
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    height: 30px;
    width: 30px;

}

.cross-icon {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.test .cross-icon {
    display: inline-block;
}

.container-footer {
    column-gap: 2em;
    display: flex;
    font-size: 0.8em;
    justify-content: space-evenly;
    opacity: 0.8;
    padding: 0.5rem 0;
}

.footer-mode {
    column-gap: 2em;
    display: flex;
}

.filter {
    background: transparent;
    border: none;
    cursor: pointer;
    color: hsl(235, 19%, 35%);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    opacity: 0.8;
    transition: 0.5s all;
}

.filter:hover {
    color: hsl(220, 98%, 61%);
    opacity: 1;
}
.attribution {
    font-size: 11px; 
    text-align: center;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}